<form (ngSubmit)="submitForm()" #form="ngForm">

    username
      <input type="text" name="username" ngModel id="username" required><br>
      <div *ngIf="form.submitted && form.controls['username'].errors">
        <div  *ngIf="form.controls['username'].errors['required']">username is required.</div>
      </div>
    
     email
      <input type="email" name="email" ngModel id="email" required email><br>
      <div *ngIf="form.submitted && form.controls['email'].errors">
        <div  *ngIf="form.controls['email'].errors['required']">Email is required.</div>
        <div  *ngIf="form.controls['email'].errors['email']">Email is not valid.</div>
      </div>
    
      <p>Programming Languages:</p>
      <label *ngFor="let L of language ">
        <input checked type="checkbox" name="languages" ngModel [value]="L">{{ L }}
      </label>

  <div *ngIf="form.submitted && ( language.length === 0)">must be selected least one prog language</div>
    
      <p>Experience prog:</p>
      <label *ngFor="let prog of levels">
        <input type="radio" name="experience" [(ngModel)]="experience" [value]="prog">{{ prog }}
      </label>
      <div *ngIf="form.submitted && !experience">Select an experience prog.</div>
      
    
      <label for="description">Project Description:</label><br>
      <textarea name="description" [(ngModel)]="textarea" (input)="checkLength()"></textarea><br>

      <div *ngIf="form.submitted && checkLength()">please enter 10m charecter more.</div>
    
      <button type="submit" [disabled]="form.invalid || checkLength() || language.length === 0">Submit</button>
    
    </form>
    
    <div *ngIf="submit && form.valid">
      
  
      <h3>Congratulations {{ form.value.username }}!</h3>
  
      <div *ngIf="form.value.experience=='Beginner'">    <p>Your programming skills are good. Keep up the great work!</p></div>
      <div *ngIf="form.value.experience=='Intermediate'">    <p>Your programming skills are impressive. Keep up the great work!</p></div>
      <div *ngIf="form.value.experience=='Advanced'">    <p>Your programming skills are very good. Keep up the great work!</p></div>
    </div>