/* Global Styles */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  /* Form Styles */
  
  form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    color: #4caf50;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    border-color: #4caf50;
  }
  
  div.error-message {
    color: #ff0000;
    margin-top: 5px;
  }
  
  p {
    font-weight: bold;
    color: #333;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  div.congratulations {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: #4caf50;
  }
  